@font-face {
    font-family: sans;
    src: url(/fonts/IRANSansXMedium.ttf);
}

* {
    font-family: sans !important;
}

.Glass {
    backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, 0.18);
}

.pantaBackground {
    /* background: url(/public/images/background.jpg); */
    background: url(/public/images/background.jpg);
}

.NiceButton {
    border-style: none;
    background: rgb(189, 189, 189);
    border-radius: 6px;
    transition: 0.2s;
    padding: 8px 20px 12px 20px;
    font-size: 16px;
    color: rgb(90, 90, 90);
    width: 100%;
    box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
}

.NiceButton:hover {
    background: rgb(220, 220, 220);
}

.loginInput {
    border-style: none;
    color: white;
}

.loginInput {
    border-style: none;
    background: rgba(255, 255, 255, 0.25) !important;
    color: white !important;
}

.loginInput:focus {
    border-style: none;
    background: rgba(255, 255, 255, 0.25) !important;
    color: white !important;
}

.loginInput:active {
    border-style: none;
    background: rgba(255, 255, 255, 0.25) !important;
    color: white !important;
}

#main {
    background-image: url(/images/login.png);
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    position: fixed;
}

#main #loginBox {
    text-align: right;
    width: 400px;
    margin: auto;
    color: white;
    padding: 24px;
    /* margin-top: 180px; */
    border-radius: 16px;
    color: rgb(202, 202, 202);
    box-shadow: rgba(158, 158, 182, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width:500px) {
    #loginBox {
        width: 90%;
        margin: 120px 5%;
        max-width: none;
    }
}

.MuiMenu-paper {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* table styles */

.custom-data-table {
    color: rgb(60, 60, 60);
}

.custom-data-table .p-row-toggler {
    padding: 10px;
    margin: 8px;
    border-radius: 50%;
    transition: 0.1s;
}

.custom-data-table .p-datatable-tbody>tr {
    background: none !important;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: rgb(235, 235, 235);
    padding-right: 20px !important;
}



.custom-data-table .p-datatable-thead {
    background: none !important;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: rgb(235, 235, 235);
    padding: 12px 16px;
}

.custom-data-table .p-datatable-tbody>tr>td {
    background: none !important;
    padding: 8px 16px;

}

.custom-data-table .p-datatable-thead>tr>th {
    background: none;
    padding: 10px 16px;

}

.custom-data-table .form-check-input {
    width: 20px;
    height: 20px;
}

.custom-data-table button.p-row-toggler {
    padding: 8px;
    margin: 0px;
    margin-right: 24px;
    color: 'red' !important;
}

body[data-theme="light"] .custom-data-table button.p-row-toggler:hover {
    background: rgb(230, 230, 230);
}

body[data-theme="dark"] .custom-data-table button.p-row-toggler:hover {
    background: rgb(90, 90, 90);
}

/* table pagination */

body[data-theme="light"] .paginator-table {
    background: none !important;
    color: rgb(90, 90, 90);
    position: relative !important;
}

body[data-theme="dark"] .paginator-table {
    background: none !important;
    color: rgb(200, 200, 200);
    position: relative !important;
}

.paginator-table .p-paginator {
    background: none !important;

}

body[data-theme="light"] .paginator-table .p-paginator-page {
    color: rgb(90, 90, 90);
}

body[data-theme="dark"] .paginator-table .p-paginator-page {
    color: rgb(200, 200, 200);
}

.paginator-table .p-paginator-current {
    background: none !important;
}

.paginator-table .p-paginator-prev,
.paginator-table .p-paginator-next,
.paginator-table .p-paginator-first,
.paginator-table .p-paginator-last {
    background: none !important;
}

.paginator-table .p-paginator {
    border: none;
    box-shadow: none;
}

body[data-theme="light"] .paginator-table .p-highlight {
    background: rgb(220, 220, 220) !important;
    border-radius: 50%;
}

body[data-theme="dark"] .paginator-table .p-highlight {
    background: rgb(90, 90, 90) !important;
    border-radius: 50%;
}

body[data-theme="light"] .paginator-table button:not(.p-highlight):hover {
    background: rgb(240, 240, 240) !important;
    border-radius: 50%;
}

body[data-theme="dark"] .paginator-table button:not(.p-highlight):hover {
    background: rgb(90, 90, 90) !important;
    border-radius: 50%;
}

.paginator-table {
    padding: 12px;
    text-align: right !important;
    float: right;
}

body[data-theme="light"] .paginator-table button {
    padding: 0px;
    width: 40px;
    height: 40px;
    font-size: 16px;
    color: rgb(90, 90, 90);
    transition: 0.1s;
}

body[data-theme="dark"] .paginator-table button {
    padding: 0px;
    width: 40px;
    height: 40px;
    font-size: 16px;
    color: rgb(200, 200, 200);
    transition: 0.1s;
}

body[data-theme="light"] .paginator-table button.p-disabled {
    color: rgb(160, 160, 160);
}

body[data-theme="dark"] .paginator-table button.p-disabled {
    color: rgb(90, 90, 90);
}

.p-paginator-first {
    transform: rotate(180deg);
}

.p-paginator-prev {
    transform: rotate(180deg);
}

.p-paginator-next {
    transform: rotate(180deg);
}

.p-paginator-last {
    transform: rotate(180deg);
}

/* card */

body[data-theme="light"] .card {
    box-shadow: none;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(230, 230, 230);
    border-radius: 8px;
    overflow: hidden;
    backdrop-filter: blur(12px);
    padding: 0px;
    text-align: right
}

body[data-theme="dark"] .card {
    box-shadow: none;
    border-style: solid;
    border-width: 1px;
    border-color: #1e2026;
    border-radius: 8px;
    overflow: hidden;
    backdrop-filter: blur(12px);
    background: #1e2026;
    padding: 0px;
    text-align: right
}

.noBackgroundCard {
    background: none;
    border-style: none;
}

/* input */

body[data-theme="light"] input::placeholder {
    color: rgb(190, 190, 190) !important;
    font-weight: 100 !important;
    opacity: 1;
}

body[data-theme="dark"] input::placeholder {
    color: rgb(120, 120, 120) !important;
    font-weight: 100 !important;
    opacity: 1;
}

body[data-theme="light"] input {
    display: block;
    width: 100%;
    height: 40px;
    border-color: rgb(223, 223, 223) !important;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
    border-radius: 6px;
    color: rgb(75, 75, 75) !important;
    padding-right: 8px;
}

body[data-theme="dark"] input {
    display: block;
    width: 100%;
    height: 40px;
    border-color: rgb(223, 223, 223) !important;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
    border-radius: 6px;
    color: rgb(200, 200, 200) !important;
    padding-right: 8px;
}

input:focus {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px !important;
    outline: none !important;
    transition: 0.1s;
}

/* order list */

.card-detail-entity {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
}

.holder-header-detail-entity {
    display: flex;
    justify-content: space-between;
}

.last-check-date-detail-entity {
    font-size: 12px;
    color: #b7b5c4;
}

.holder-last-check-date-and-button {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.order-book {
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

.orders {
    width: 100%;
}

.order-row {
    display: flex;
    justify-content: space-between;
    padding: 3px 1px;
    margin-bottom: 1px;
    border-radius: 4px;
}

.sell-orders .order-row {
    background-color: rgba(0, 255, 55, 0.1);
}

.buy-orders .order-row {
    background-color: rgba(0, 255, 0, 0.1);
}

.price,
.amount,
.volume {
    text-align: right;
}

.volume {
    margin-left: 16px;
}

.buy-orders .highlighted {
    background: rgba(0, 128, 0, 0.1) !important;
    transition: 0.1s;
}

.sell-orders .highlighted {
    background: rgba(128, 0, 0, 0.1) !important;
    transition: 0.1s;
}

#PriceInputGroup {
    border: none;
    padding: 8px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spin {
    animation: spin 1s linear;
}

.onMouseHover:hover {
    background: rgb(226, 226, 226);
    padding: 0px 8px;
    border-radius: 16px;
}

/* select exchange */

.token-slider-container {
    align-items: center;
}

.token-slider {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    white-space: nowrap;
    width: 100%;
    padding: 5px;
    border-radius: 20px;
    background-color: #f0f0f0;
}

.token-about-entity {
    padding: 4px 12px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #262626;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    white-space: nowrap;
}

.token-about-entity.active {
    background-color: #A9D8EF;
    color: #00537c;
}



.scroll-btn-about-entity {
    border: none;
    width: 25px;
    height: 20px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 13px;
    font-weight: 600;
    margin: 0 5px;
    background-color: #f8f8f8;
}

.scroll-btn-about-entity:hover {
    background-color: #ccc;
}

/*time management*/

@import url("https://fonts.googleapis.com/css?family=Vazirmatn");

#timeManagement body {
    font-family: Vazirmatn, sans-serif;
    text-align: center;
    margin-top: 4rem;
}

#timeManagement input {
    font-family: Vazirmatn, sans-serif;
    text-align: center;
    width: 100%;
    outline: 0;
    border-radius: 8px;
    height: 45px;
    border: 1px solid #dedede;
}

#timeManagement .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

#timeManagement .tab {
    flex-direction: column;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    background-color: #f5f5f5;
    gap: 16px;
    padding: 8px;
}

#timeManagement .tabItem {
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 8px;
    transition: all 0.2s ease;
}

#timeManagement .tabItem:hover {
    color: #3f5152;
}

#timeManagement .tabItem--selected {
    background-color: #ffffff;
}

#timeManagement .libWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 14px;
}

@media only screen and (min-width: 600px) {

    #timeManagement .tab,
    #timeManagement .libWrapper {
        flex-direction: row;
    }
}

#timeManagement .css-137m4ck {
    margin-right: 50% !important;
}

#timeManagement Input {
    height: 40px !important;
}

body[data-theme="light"] .modakheleButton {
    border-style: none;
    background: rgb(230, 230, 230);
    border-radius: 6px;
    transition: 0.2s;
    padding: 8px 20px;
    font-size: 16px;
    color: gray;
    box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
}

body[data-theme="light"] .modakheleButton:hover {
    background: rgb(220, 220, 220);
}

body[data-theme="dark"] .modakheleButton {
    border-style: none;
    background: rgb(60, 60, 60);
    border-radius: 6px;
    transition: 0.2s;
    padding: 8px 20px;
    font-size: 16px;
    color: rgb(200, 200, 200);
    box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
}

body[data-theme="dark"] .modakheleButton:hover {
    background: rgb(80, 80, 80);
}

body[data-theme="light"] .MainDashboardInputGroup {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(193, 193, 193);
    padding: 4px;
    border-radius: 8px;
}
body[data-theme="dark"] .MainDashboardInputGroup {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(128, 128, 128);
    padding: 4px;
    border-radius: 8px;
}

#MainDashboardInputBox {
    border-style: none;
    box-shadow: none !important;
}

/* scheduler scenario add */
.Date_TimeInput {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(193, 193, 193);
    border-radius: 4px;
    background: white;
}

.Date_TimeInput .InputText {
    background: none !important;
    border-style: none;
    margin-top: 6px;
}

.Date_TimeInput input {
    height: 20px !important;
    background: none !important;
    border-style: none !important;
    box-shadow: none !important;
}

.modalTitle {
    font-weight: bold;
}

.modalLabel {
    color: gray;
    font-size: 14px;
    margin-bottom: 4px;
}

body[data-theme="light"] .AccountManagementBotton {
    transition: 0.1s;
    background: #868f97;
    color: white;
}

body[data-theme="dark"] .AccountManagementBotton {
    transition: 0.1s;
    background: #4d5358;
    color: white;
}

body[data-theme="light"] .AccountManagementBotton:hover {
    background: #4d5358;
}

body[data-theme="dark"] .AccountManagementBotton:hover {
    background: #191b1b;
}

body[data-theme="light"] .custom-data-table.AccountTable .p-datatable-tbody>tr:hover {
    background-color: #f1f1f1 !important;
    cursor: pointer !important;
    transition: 0.1s;
}

body[data-theme="dark"] .custom-data-table.AccountTable .p-datatable-tbody>tr:hover {
    background-color: rgb(40, 40, 40) !important;
    cursor: pointer !important;
    transition: 0.1s;
}

body[data-theme="light"] .custom-data-table .p-datatable-tbody>tr.selected-row {
    background: rgb(230, 230, 230) !important;
}

body[data-theme="light"] .custom-data-table.AccountTable .p-datatable-tbody>tr.selected-row:hover {
    background-color: rgb(230, 230, 230) !important;
    cursor: default;
}

body[data-theme="dark"] .custom-data-table .p-datatable-tbody>tr.selected-row {
    background: rgb(60, 60, 60) !important;
}

body[data-theme="dark"] .custom-data-table.AccountTable .p-datatable-tbody>tr.selected-row:hover {
    background: rgb(60, 60, 60) !important;
    cursor: default;
}

body[data-theme="dark"] .AddAccountInput {
    background: rgb(24, 26, 31);
    border-color: rgb(129, 128, 128) !important;
    border-style: solid;
    border-width: 1px;
    color: 'rgb(200)' !important
}

body[data-theme="dark"] #dateInputBox input {
    background: rgb(24, 26, 31);
    border-color: rgb(129, 128, 128) !important;
    border-style: solid;
    border-width: 1px;
    color: 'rgb(200)' !important
}

#main input {
    color: white !important;
}

body[data-theme="light"] .changeColorMenuOption{
    background: none;
}

body[data-theme="dark"] .changeColorMenuOption{
    background: none;
}

body[data-theme="light"] .changeColorMenuOption:hover {
    background: #dadddf;
}

body[data-theme="dark"] .changeColorMenuOption:hover {
    background: #353838;
}